@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;   
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

a:visited{
 color:#FFFFFF
}

.banner{
  display: flex;
  flex-direction: column;
}

.banner__descricao{
    background-color: #E5E5E5;
    color:#FF2206;
    text-align: center;
}

.banner__descricao:nth-child(3){
    background-color: #FF2206;
    color:#E5E5E5;
}

.banner__descricao > p{
    padding: 2px;
}
