.container{
   display:grid;
   grid-template-columns: repeat(12, 1fr);
}
.header{
    display: flex;
    justify-content: space-between;
    grid-column: 1/13;
    /* grid-column-start: 1;
    grid-column-end: 13; */
}

.produtos{
    grid-column: 1/13;
}